@import '../../styles/main'

.ui-footer
    &__container
        display block
    &__copyright
        text_s()
        text-align left
        border-top 1px solid $color-light-gray
        margin-top 20px
        padding-top 20px

